.list-block {

}
.statusbar-overlay {
    background: #ddd;
}
.overflow-x {
	overflow-x: auto;
}
.content-block-inner {
	margin-bottom: 15px;
}


.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

/*NAVBAR*/
.navbar {}
.navbar .center,
.navbar .left {float: left}
.navbar .right {float: right;margin-right: 10px;}
/*NAVBAR*/



/*TITLE*/
.content-block-title {
	white-space: normal !important;
	line-height: 1.5 !important;
}
/*/TITLE*/

/*TEXT STYLE*/
.content-block {
	color: #3e3d3d !important;
	line-height: 1.6;
}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.nowrap {white-space: nowrap;}
.text-vertical {
	font-family: monospace;
	line-height: 0.9;
	width: 1px;
	letter-spacing: 0px;
	padding: 4px 4px !important;
}
.text-vertical p {
	padding: 0;
	margin: 0;
}
.text-small {font-size: 11px;}

hr {
	height: 1px;
	border: 0px;
	background: #ccc;
	margin: 2px 0;
}
/*/TEXT STYLE*/

/*POPOVERS*/
.popover {
	width: auto !important;
}
.popover-inner {
	padding: 0 10px;
}
/*/POPOVERS*/

/*TABLES*/
table {
	border-collapse: collapse;
	margin: 15px 0;
	width: 100%;
	background: #fff;
}
.td-green {
	background: #007aff;
	color: #fff;
}
.td-lightblue {background: #f0f7ff;}
.td-lightbrown {background: #ffe8a3;}

table th,
table td {
	border: 1px solid #007aff;
	padding: 0 5px;
}
table strong {
	color: red;
}
/*/TABLES*/

/*ACCORDION*/
.accordion-item-expanded {
	background: #fafafa;
}
/*/ACCORDION*/

/*-------PAGES INDIVIDUAL STYLES-------*/
/*liczebniki*/
.liczebniki-list strong {
	color: red;
}
/*liczebniki*/
/*------/PAGES INDIVIDUAL STYLES-------*/

/*ICONS*/
.swipe_icons {
	/*opacity: 0.5;*/
}
/*ICONS*/
