.html_webview body {
	overflow: hidden !important;
}
.html_webview body, 
.html_webview .views, 
.html_webview .view,
.html_webview .pages,
.html_webview .page, 
.html_webview .page-content {
	overflow: visible !important;
}
.html_webview {
	overflow: hidden !important;
}

.html_webview body.with-panel-left-cover {
	overflow: hidden !important;
}


.list-block {
}
.statusbar-overlay {
    background: #ddd;
}
.content-block-inner {
	margin-bottom: 15px;
}

/*SWIPE ICON*/
.swipe_icon {
	font-family:'FontAwesome';
	display:block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	
	background: rgba(0,0,0,0.2);
	padding: 22px 7px;
	border-radius: 40px;
	position: absolute;
	top: 45%;
	left: 45%;
}
.swipe_icon:before{
	content:"\f060";
	margin-right: 4px;
}
.swipe_icon:after{
	content:"\f061";
	margin-left: 4px;
}
/*SWIPE ICON*/

/*NAVBAR*/
.navbar {}
.navbar .center,
.navbar .left {float: left}
.navbar .right {float: right;margin-right: 10px;}
/*NAVBAR*/



/*TITLE*/
.content-block-title {
	white-space: normal !important;
	line-height: 1.5 !important;
}
/*/TITLE*/

/*TEXT STYLE*/
.content-block {
	color: #3e3d3d !important;
	line-height: 1.6;
}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.nowrap {white-space: nowrap;}
.text-vertical {
	font-family: monospace;
	line-height: 0.9;
	width: 1px;
	letter-spacing: 0px;
	padding: 4px 4px !important;
}
.text-vertical p {
	padding: 0;
	margin: 0;
}
.text-small {font-size: 11px;}

hr {
	height: 1px;
	border: 0px;
	background: #ccc;
	margin: 2px 0;
}
/*/TEXT STYLE*/

/*POPOVERS*/
.popover {
	width: auto !important;
}
.popover-inner {
	padding: 0 10px;
}
/*/POPOVERS*/

/*TABLES*/
table {
	border-collapse: collapse;
	margin: 15px 0;
	width: 100%;
	background: #fff;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: visible;
	float: none !important;
	display: block;
	width: 100% !important;
	height: 100%;
}
.td-green {
	background: #007aff;
	color: #fff;
}
.td-lightblue {background: #f0f7ff;}
.td-lightbrown {background: #ffe8a3;}

table th,
table td {
	border: 1px solid #007aff;
	padding: 0 5px;
}
table strong {
	color: red;
}
/*/TABLES*/

/*ACCORDION*/
.accordion-item-expanded {
	background: #fafafa;
}
/*/ACCORDION*/

/*-------PAGES INDIVIDUAL STYLES-------*/
/*liczebniki*/
.liczebniki-list strong {
	color: red;
}
/*liczebniki*/
/*------/PAGES INDIVIDUAL STYLES-------*/

/*ICONS*/
.swipe_icons {
	/*opacity: 0.5;*/
}
/*ICONS*/
